/* Custom css */

.region-info {
  width: 400px;
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: #3B7A9E;
  z-index: 1;
  color: #fff;
  padding: 15px;
}

.region-info h1 {
  margin: 0;
}

.label {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
}

.female {
  float: right;
}

#population g line {
  display: none;
}

#population g text tspan {
  font-size: 10px !important;
  fill: white !important;
}

.map {
  height: 500px;
  width: 100vw;
  border-bottom: 1px solid #000;
}

.map-placeholder {
  height: 500px;
  width: 100vw;
  border-bottom: 1px solid #000;
}

.chart-tab {
  margin-top: 10%;
  border: 1px solid #414042;
}
