/* Custom css */

.region-info {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 25%;
  left: 10%;
  background-color: #3B7A9E;
  z-index: 1;
  color: #fff;
  padding: 15px;
}

.region-info h1 {
  margin: 0;
}

.map {
  height: 500px;
  width: 100vw;
}


Result
EDIT ON
 .bar {
  fill: #aaa;
  height: 21px;
  transition: fill .3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;

  text {
    fill: #555;
  }
}

.chart:hover,
.chart:focus {
  .bar {
    fill: #aaa;
  }
}

.bar:hover,
.bar:focus {
  fill: red !important;

  text {
    fill: red;
  }
}

figcaption {
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}
