/* Custom css */

/* Search */

.results {
  height: 500px;
  overflow: scroll;
}

.close-search {
  float: right;
  padding-right: 10px;
  font-size: 1.25em
}

.close-search:hover {
  cursor: pointer;
}

.local-authorities {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #333
}

.local-authorities li {
  display: inline-block;
}

.local-authorities .btn-group {
  display: inline-block;
  float: right;
  margin: 16px 0;
}

.btn-group .btn+.btn {
  margin: 0
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
  border-radius: 0;
}

.btn--primary:hover, .btn--primary:focus{
  background-color: #0b5d30;
  color: #fff;
  text-decoration: underline;
}

.remove {
  float: right;
  margin: 15px 0;
  background-color: #D32F2F;
  color: #fff;
  border-radius: 0;
}

/* Region */

.region-info {
  width: 500px;
  position: absolute;
  top: 15%;
  left: 10%;
  background-color: #3B7A9E;
  z-index: 1;
  color: #fff;
  padding: 15px;
}

.region-info h1 {
  margin: 0;
}

.label {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
}

.female {
  float: right;
}

#population g line {
  display: none;
}

#population g text tspan {
  font-size: 5px !important;
  fill: #fff !important;
}
.cmd-pop {
  color: #fff;
}

.cmd-pop:hover {
  color: #fff
}

.map {
  height: 500px;
  width: 100vw;
  border-bottom: 1px solid #000;
}

.map-placeholder {
  height: 500px;
  width: 100vw;
  border-bottom: 1px solid #000;
}

.chart-tab {
  margin: 10% 0;
}

.col-5 {
  height: 100%
}
